/*
    File: Sections Home
*/

#home>.inner{
    background: rgba(255,255,255, 0.10);
    padding: 0;
}

#home .panel-body{
    padding: 0;
}

#home .section-title{
    color: rgba(255,255,255, 0.9);
}