<!DOCTYPE html>
<html>
    <head>
        <!-- document meta -->
        <meta charset="utf-8">
        
        <!-- document title -->
        <title>Financial Forcast</title>
    
        <!-- base, added for html5mode -->
        <base href="/">
        
        <!-- document styles -->
        <!-- head:css -->
        <link rel="stylesheet" href="/public/css/style.min.css">
        <!-- endinject -->
        
    </head>
    
    <body>
        
        <!--[if lt IE 8]>
	        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	    <![endif]-->
	    
	    <!-- wrapper -->
	    <div class="wrapper container-fluid">
	        <!-- home -->
	        <div id="home" class="row-fluid">
	            <!-- home inner -->
	            <div class="inner container">
	                <div class="panel">
	                    <div class="panel-heading">
	                        <h2 class="section-title h1">Financial Forcast</h2>
	                    </div>
	                    <div class="panel-body">
	                        <table class="table table-default">
	                            <thead>
	                                <tr>
	                                    <th>Order</th>
	                                    <th>Account</th>
	                                    <th>Holder</th>
	                                    <th>Type</th>
	                                    <th>Balance</th>
	                                    <th>Payment</th>
	                                    <th>Due Date</th>
	                                    <th>Interest Rate</th>
	                                    <th>Description</th>
	                                    <th class="lastCol"></th>
	                                </tr>
	                            </thead>
	                            <tbody>
	                                <tr>
	                                    <td>01</td>
	                                    <td>HSBC</td>
	                                    <td>Anthony</td>
	                                    <td>Checking</td>
	                                    <td>$ 100.00</td>
	                                    <td>$ 0.00</td>
	                                    <td></td>
	                                    <td>0.000 %</td>
	                                    <td>Primary Account</td>
	                                    <td><span class="account-action">Action <i class="fa fa-chevron-down"</i></span></td>
	                                </tr>
	                                <tr>
	                                    <td>02</td>
	                                    <td>HSBC</td>
	                                    <td>Anthony</td>
	                                    <td>Checking</td>
	                                    <td>$ 100.00</td>
	                                    <td>$ 0.00</td>
	                                    <td></td>
	                                    <td>0.000 %</td>
	                                    <td>Primary Account</td>
	                                </tr>
	                                <tr>
	                                    <td>03</td>
	                                    <td>HSBC</td>
	                                    <td>Anthony</td>
	                                    <td>Checking</td>
	                                    <td>$ 100.00</td>
	                                    <td>$ 0.00</td>
	                                    <td></td>
	                                    <td>0.000 %</td>
	                                    <td>Primary Account</td>
	                                </tr>
	                                <tr>
	                                    <td>04</td>
	                                    <td>HSBC</td>
	                                    <td>Anthony</td>
	                                    <td>Checking</td>
	                                    <td>$ 100.00</td>
	                                    <td>$ 0.00</td>
	                                    <td></td>
	                                    <td>0.000 %</td>
	                                    <td>Primary Account</td>
	                                </tr>
	                                <tr>
	                                    <td>05</td>
	                                    <td>HSBC</td>
	                                    <td>Anthony</td>
	                                    <td>Checking</td>
	                                    <td>$ 100.00</td>
	                                    <td>$ 0.00</td>
	                                    <td></td>
	                                    <td>0.000 %</td>
	                                    <td>Primary Account</td>
	                                </tr>
	                            </tbody>
	                            <tfoot>
	                                <td>
	                                    <tr>
	                                        <td></td>
	                                        <td><input type="text" placeholder="Account" name="account" class="input"></td>
	                                        <td><input type="text" placeholder="Holder" name="holder" class="input"></td>
	                                        <td><input type="text" placeholder="Checking" name="checking" class="input"></td>
	                                        <td><input type="number" placeholder="Balance" name="balance" class="input"></td>
	                                        <td><input type="number" placeholder="Payment" name="payment" class="input"></td>
	                                        <td><input type="date" placeholder="Payment" name="payment" class="input"></td>
	                                        <td><input type="number" placeholder="Interest Rate" name="interestRate" class="input"></td>
	                                        <td><input type="text" placeholder="Description" name="Description" class="input"></td>
	                                    </tr>
	                                </td>
	                            </tfoot>
	                        </table>
	                    </div>
	                </div>
	            </div><!-- /home inner -->
	        </div><!-- /home -->
	    </div><!-- /wrapper -->
        
        <!-- document scripts -->
        <!-- main-scripts:js -->
        <script src="/public/js/script.min.js"></script>
        <!-- endinject -->
    
    </body>
</html>